@import url(global.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font: var(--font-m);
}
body {
  min-height: 100vh;
}
#root {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}
